<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 스타일</title>
    <style>
        /* 태그 선택자 - h, p 태그에 스타일 적용
           글래스 선택자 - .p1, .p2  클래스에 스타일 적용 */
        h1{color: #ff0000e1;}
        p{font-family: '궁서';}
        .p1 {color: #ff00d4d3;}     
        .p2 {color: #6f00ffad;}
    </style>
</head>
<body>
    <h1>마늘</h1>
    <h2>마늘의 효능</h2>
    <p class="p1">마늘은 면역력을 높여주고, 혈압을 낮추며, 항암 효과가 있습니다.</p>
    <p class="p2">마늘은 다양한 요리에 사용되며, 건강에도 많은 이점을 제공합니다.</p>

</body>
</html>